* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
  }

.header{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto);
    grid-template-areas:
    ". header header header first first first ."
    ". header header header second second second ."
    ". main main main main main main ."
    ". footer footer footer footer footer footer ."
    ". nav nav nav nav nav nav .";
}

.bigcard {
    grid-area: header;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.nav {
    grid-area: nav;
}

.header .bigcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #C7DDEA;
}

.header .header__family {
    width: 60%;
    height: 60%;
    margin-left: 8rem;
}

.header .first {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F17949;
}

.header .second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB939;

}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


header .second {
    background-color: #FFB939;
}

main .section-grey {
    background-color: #A9A19E;
}

main .section-yellow {
    background-color: #FAB131;
}

button{

    width: 131px;
    height: 39px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.8);
    border: none;
}

.bigcardh1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.bigcardp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}