
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link { text-decoration: none; }

.header{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto);
    grid-template-areas:
    ". header header header first first first ."
    ". header header header second second second ."
    ". main main main main main main ."
    ". footer footer footer footer footer footer ."
    ". . nav nav nav nav . .";
}

.header__bigcard { grid-area: header; }
.header__orange { grid-area: first; }
.header__yellow { grid-area: second; }
.nav { grid-area: nav; }

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header__bigcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 499px;
    height: 500px;
    background: url(..//img/family.png) #C7DDEA;
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 280px;
}

.header__bigcard h1{
    font-family:'Frank Ruhl Libre', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    color: #000000;
    width: 314px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    line-height: 100%;

}

.header__bigcard p{
    font-family:'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    width: 268px;
    margin: 0;
    margin-right: 3rem;

}

.header__family {
    width: 50%;
    height: 50%;
    margin-left: 14rem;
}

.header__orange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F17949;
    width: 499px;
}

.header__yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB939;
    width: 499px;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-right: 12rem;
}

.header__bigcard p span{
    color: #FFFFFF;
}

.header__orange, .header__yellow {
    display: flex;
    flex-direction: column;
}

.header__orange h2, .header__yellow h2 {
    font-family:'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.header__orange a, .header__yellow a {
    font-family:'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 32px;
    color: #FFFFFF;
}

/** NAV **/

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 45px;
}

nav a{
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: #00000075;
}

.nav__home {
    color: #000000;
}

nav :hover{
    opacity: 0.4;
    padding-top: 15px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
}

/** MAIN **/

.main {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto);
    grid-template-areas:
    ". first first first first first first ."
    ". second second second second second second ."
    ". one one two two three three ."
    ". four four five five six six .";
}

.main__grey { grid-area: first; }
.main__yellow { grid-area: second; }
.card__one { grid-area: one; }
.card__two { grid-area: two; }
.card__three { grid-area: three; }
.card__four { grid-area: four; }
.card__five { grid-area: five; }
.card__six { grid-area: six; }

.card__one {
    display: flex;
    align-items: center;
    background: #C7DDEA;
}

.card__two { background: #ffffff; }
.card__three { background: #EBEBEB; }
.card__four { background: #FFFFFF; }
.card__five { background: #F17949; }
.card__six { background: #FFFFFF; }

.main__grey {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    background-color: #A9A19E;
    width: 1000px;
    height: 610px;
    padding: 3rem;
}

.main__yellow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAB131;
    width: 1000px;
    height: 680px;
}

.yellow__heading {
    width: 314px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;
    color: #FFFFFF;
    text-align: center;
}

.main__grey h2 {
    width: 350px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;
    color: #FFFFFF;
    line-height: 100%;
    padding-top: 20px;
    margin: 0px 0px 20px 0px;    
}

.main__grey button {
    margin: 30px 0px 100px 0px;
}

.main__grey p {
    width:  280px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    line-height: 24px;
    height: 237px;
    margin: 20px 0px 0px 0px;
}

.yellow__paragraph {
    width:  442px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    text-align:center;
    line-height: 20px;
}

.yellow__paragraph:nth-child(3) {
    padding-bottom: 8rem;
}

button {
    width: 131px;
    height: 39px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.8);
    border: none;
}

.section__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 1000px;
    margin: 0px;
}

.card__one, .card__two, .card__three, .card__four, .card__five, .card__six{
    text-align: center;
    width: 333px;
    height: 340px;
    padding: 2rem;
}

.card__two p, .card__three p, .card__four p, .card__five p, .card__six p{
    width: 257px;
    height: 113px;
    align-items: center;
    text-align: center;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.card__two :nth-child(1), .card__three :nth-child(1), .card__four :nth-child(1), .card__five :nth-child(1), .card__six :nth-child(1){
    font-family:'Frank Ruhl Libre', serif;
    text-align: start;
    font-weight: 900;
    font-size: 35px;   
    color: rgba(0, 0, 0, 0.4);
}
    
.card__one h2{
    font-family:'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    margin: 0px;
}

/** FOOTER **/

footer section{
    width: 1002px;
    height: 68px;
    background: #A9A19E;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

footer h2{
    text-align: center;
    font-family:'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: -10px;
}


/** PROFILE CARDS **/

.profile {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto);
    grid-template-areas:
    ". child child adult adult old old .";
    grid-gap: 1.5rem;
}

.child {
    grid-area: child;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 335px;
    transform: translateY(-100px);
    margin: 0;
    background-color: white;
    border-radius: 4px;
}

.adult {
    grid-area: adult;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 335px;
    transform: translateY(-100px);
    margin: 0;
    background-color: white;
    border-radius: 4px;
}

.old {
    grid-area: old;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 335px;
    transform: translateY(-100px);
    margin: 0;
    background-color: white;
    border-radius: 4px;
}

.child__image {
    width: 240px;
    height: 170px;
    transform: translateY(-30px);
    object-fit: scale-down;
    background: #C7DDEA url(..//img/child.png) no-repeat;
    background-position: center -300%;
    background-size: 40%;
    border-radius: 4px;
}

.adult__image {
    width: 240px;
    height: 170px;
    transform: translateY(-30px);
    object-fit: scale-down;
    background: #FAB131 url(..//img/adult.png) no-repeat;
    background-position: center -10%;
    background-size: 40%;
    border-radius: 4px;
}

.old__image {
    width: 240px;
    height: 170px;
    transform: translateY(-30px);
    object-fit: scale-down;
    background: #F17949 url(..//img/old.png) no-repeat;
    background-position: center -10%;
    background-size: 60%;
    border-radius: 4px;
}

.child__heading, .adult__heading, .old__heading {
    font-family: 'Frank Ruhl Libre';
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.child__text, .adult__text, .old__text {
    font-family: 'fira sans';
    font-weight: bold;
    font-size: 11px;
    opacity: 0.4;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}





















/** CONTACT **/

.contact__header {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto);
    grid-template-areas:
    ". banner banner banner banner banner banner ."
    ". . nav nav nav nav . .";
}

.contact__banner {
    grid-area: banner;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 340px;
    background: url(..//img/man-and-child.png) #C7DDEA;
    background-size: cover;
    background-position: 90% 100%;
    background-repeat: no-repeat;
    background-size: 180px;
}

.contact__nav {
    grid-area: nav;
}

.contact__banner h1 {
    font-family:'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;
    color: #000000;
}

.contact__main {
    width: 1000px;
    height: 544px;
    background: #A9A19E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 4rem;
}

.contact__form {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.contact__form button {
    width: 101px;
    height: 30px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 230px;
}

textarea {
    width: 334px;
    height: 166px;
    background: #FEFEFE;
    border-radius: 2px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    padding: 1rem;
}

::placeholder {
    color:rgba(0, 0, 0, 1);
}

input {
    width: 334px;
    height: 40px;
    background: #FEFEFE;
    border-radius: 2px;
    border: none;
    
}

.contact__main h2 {
    width: 314px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;    
    color: #FFFFFF;
    margin: 20px;
    line-height: 100%;
}

.email, .subject {
    font-family:'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px;
}

.contact__map {
    width: 1000px;
    height: 407px;
    background: url(..//img/map-contact.png);
    background-size: auto;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-end;
    padding: 3rem;
}

.map__background {
    width: 1002px;
    height: 340px;
    background-color: #777574;
}

.contact__mapbox {
    width: 323px;
    height: 206px;
    background: #FAB131;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    margin: 0rem 3rem 2rem 2rem;
}

.contact__mapbox h2 {
    font-family:'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;    
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
    padding-top: 1rem;
    line-height: 100%;
}

.contact__mapbox p {
    width: 150px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    margin: 0;
    padding-left: 1rem;
}